__pycache__
.cursorignore
.DS_Store
.idea/
*.ass
*.log
*.mkv
*.pdf
*.ssa
*.vtt
*.zip
/.claude
/.env
/.vscode
/*.cmd
/*.code-workspace
/*.debug
/*.srt
/*.substitutions
/*.subtrans
/*.subtrans-backup
/build
/dist
/envsubtrans
/llm_subtrans.egg-info
/Projects
/subtrans-env
/test_projects
/test_results
/test_subtitles
/test_subtitles/hidden
autotranslated_msgids_*.txt
bedrock-subtrans.sh
claude-subtrans.sh
deepseek-subtrans.sh
env
gemini-subtrans.sh
get-pip.py
git-cleanup-gone.ps1
gpt-subtrans.sh
gui-subtrans.sh
gui-subtrans.spec
llm-subtrans.sh
mistral-subtrans.sh
untranslated_msgids_*.txt

/PySubtrans/build
/PySubtrans/dist
/PySubtrans/*.egg-info
/subtitles
/translated
